.rett1 {
  height: 31px;
  width: 1920px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.ilTuoLocale {
  align-self: stretch;
  position: relative;
  line-height: 9px;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
  z-index: 4;
}
.ilTuoLocaleWrapper {
  width: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
  box-sizing: border-box;
}
.creaAccount,
.frameChild {
  position: relative;
  z-index: 4;
}
.frameChild {
  height: 14.6px;
  width: 1px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.creaAccount {
  height: 6.8px;
  display: inline-block;
  flex-shrink: 0;
  min-width: 88px;
  white-space: nowrap;
}
.creaAccountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  text-align: left;
}
.rett1Parent,
.rett2 {
  background-color: var(--color-white);
}
.rett1Parent {
  align-self: stretch;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xs-6) var(--padding-mid) var(--padding-xs-8);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  max-width: 100%;
  z-index: 3;
}
.rett2 {
  border: 0;
  outline: 0;
  height: 93px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.span {
  font-family: var(--font-keania-one);
}
.span1 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles {
  font-family: var(--font-gruppo);
}
.nNightblesContainer,
.prenota {
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.nNightblesContainer {
  height: 62px;
  width: 234px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.prenota {
  width: 107px;
  line-height: 16px;
}
.aboutUs,
.contatti,
.prenota {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.aboutUs {
  width: 117px;
  line-height: 18px;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
}
.contatti {
  flex: 1;
}
.frameWrapper,
.prenotaParent {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prenotaParent {
  width: 453px;
  flex-direction: row;
  gap: var(--gap-19xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.frameWrapper {
  width: 554px;
  flex-direction: column;
  padding: var(--padding-28xl) 0 0;
  box-sizing: border-box;
}
.accediChild {
  height: 34px;
  width: 86px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-400);
  display: none;
}
.userIcnIcon {
  height: 17px;
  width: 15px;
  position: relative;
  z-index: 1;
}
.accedi,
.accedi1 {
  display: flex;
  z-index: 1;
}
.accedi1 {
  height: 18px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.accedi {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-6xs);
  background-color: var(--color-gray-400);
  align-self: stretch;
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.accedi:hover {
  background-color: var(--color-darkslategray-100);
}
.accediWrapper,
.frameParent,
.rett2Parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.accediWrapper {
  width: 86px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 0;
}
.frameParent,
.rett2Parent {
  align-self: stretch;
  max-width: 100%;
}
.rett2Parent {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-23xl) var(--padding-23xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lustria);
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 14.8px;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.limeMilano {
  width: 1215px;
  height: 109px;
  position: absolute;
  margin: 0 !important;
  top: 919px;
  left: 352px;
  font-size: var(--font-size-45xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.image1Icon,
.image2Icon,
.image3Icon,
.image4Icon,
.image5Icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  overflow: hidden;
  object-fit: cover;
}
.image1Icon {
  height: 525px;
  max-width: 100%;
  flex-shrink: 0;
}
.image2Icon,
.image3Icon,
.image4Icon,
.image5Icon {
  flex: 1;
  max-width: 297px;
  max-height: 100%;
  min-width: 273px;
  min-height: 128px;
}
.image5Icon {
  max-width: 295px;
}
.image2Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 9.7px;
}
.image1Parent,
.localeInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image1Parent {
  width: 1215px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.localeInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 10.1px var(--padding-xl);
  box-sizing: border-box;
}
.frameItem {
  width: 2078.9px;
  height: calc(100% - 189.3px);
  position: absolute;
  margin: 0 !important;
  top: 194.56px;
  right: -55.6px;
  bottom: -5.26px;
  background-color: var(--color-gray-500);
  transform: rotate(-5.4deg);
  transform-origin: 0 0;
  z-index: 1;
}
.laSala1,
.rectangleParent {
  align-self: stretch;
  position: relative;
}
.laSala1 {
  height: 219px;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 197.7px var(--padding-lg) 187.8px 39.2px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.infoLocale {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.infoLocaleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 9.7px;
  box-sizing: border-box;
  max-width: 100%;
}
.locationIcon {
  height: 46.6px;
  width: 60.9px;
  position: relative;
  object-fit: cover;
  min-height: 47px;
}
.viaTullioMassarani {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.viaTullioMassarani6Wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-6) 0 0;
  box-sizing: border-box;
  min-width: 330px;
}
.frameDiv,
.locationParent,
.viaTullioMassarani6Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.locationParent {
  width: 606.7px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 37.8px;
  font-size: var(--font-size-13xl);
}
.frameDiv {
  align-self: stretch;
  flex-direction: column;
  gap: 42.4px;
}
.musicRecordIcon {
  height: 59px;
  width: 59px;
  position: relative;
  object-fit: cover;
}
.commercialeTrap {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 226px;
  max-width: 100%;
}
.musicRecordParent {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39.3px;
}
.frameContainer,
.frameWrapper1,
.musicRecordParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper1 {
  width: 619.7px;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 6.7px;
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: 70px;
}
.banknotesIcon {
  height: 58px;
  width: 58px;
  position: relative;
  object-fit: contain;
}
.span2 {
  color: #b3b3b3;
}
.div {
  align-self: stretch;
  height: 67px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 330px;
  max-width: 100%;
}
.banknotesParent,
.frameWrapper2 {
  flex-direction: row;
  justify-content: flex-start;
}
.banknotesParent {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.frameWrapper2 {
  width: 634.4px;
  padding: 0 var(--padding-lg) 0 17.7px;
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.frameGroup,
.frameWrapper2,
.localeChild {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1224.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-46xl);
  flex-shrink: 0;
}
.localeChild {
  width: 1500.7px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 59.8px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.calendarioIcon {
  height: 647px;
  width: 837px;
  position: absolute;
  margin: 0 !important;
  top: -585px;
  right: -99px;
  object-fit: cover;
  z-index: 2;
}
.valutazione {
  margin: 0;
  height: 109px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 272px;
  max-width: 100%;
}
.frameInner {
  z-index: 1;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.starIcon {
  height: 53px;
  width: 53px;
  position: relative;
  min-height: 53px;
}
.frameWrapper3,
.starParent,
.valutazioneParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.starParent {
  flex-direction: row;
  gap: var(--gap-mid);
}
.frameWrapper3,
.valutazioneParent {
  max-width: 100%;
}
.frameWrapper3 {
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  margin-left: -3px;
}
.valutazioneParent {
  width: 748px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.bar,
.musica,
.servizi {
  align-self: stretch;
  height: 65px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.musicaParent {
  width: 161px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  min-width: 161px;
}
.frameChild4,
.frameChild5,
.frameChild6 {
  height: 42px;
  width: 42px;
  position: relative;
}
.frameChild6 {
  width: 41px;
}
.frameChild10,
.frameChild11,
.frameChild7,
.frameChild8,
.frameChild9 {
  height: 42px;
  width: 42px;
  position: relative;
}
.frameChild11 {
  width: 41px;
}
.frameChild12,
.frameChild13,
.frameChild14,
.frameChild15 {
  height: 42px;
  width: 42px;
  position: relative;
}
.frameChild16,
.frameChild17,
.frameChild18 {
  height: 42px;
  width: 41px;
  position: relative;
}
.frameChild17,
.frameChild18 {
  width: 42px;
}
.frameParent3,
.starGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.starGroup {
  height: 222px;
  width: 263px;
  flex-wrap: wrap;
  gap: 48px 12.5px;
  min-width: 263px;
}
.frameParent3 {
  gap: var(--gap-6xl);
  max-width: 100%;
}
.bottonePrenotaChild {
  height: 142.2px;
  width: 550px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  display: none;
  max-width: 100%;
}
.infoEPrenotazioni {
  margin: 0;
  height: 71.7px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bottonePrenota {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-20xl) 17.3px 31.5px 24.2px;
  box-sizing: border-box;
  cursor: pointer;
}
.bottonePrenota,
.bottonePrenotaWrapper,
.frameParent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bottonePrenotaWrapper {
  width: 550px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40.8px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.frameParent2 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.calendarioParent,
.frameParent1,
.frameSection,
.frameWrapper4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.calendarioParent,
.frameSection {
  flex-direction: row;
}
.calendarioParent {
  width: 1669px;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
}
.frameSection {
  width: 1891px;
  justify-content: center;
  padding: 0 var(--padding-xl) 76.8px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.prossimiEventi {
  margin: 0;
  width: 1215px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frameChild19,
.frameChild20,
.rectangleIcon {
  align-self: stretch;
  width: 366px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 528px;
}
.rectangleGroup {
  width: 1486px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameWrapper5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frameWrapper5,
.localeInner1,
.prossimiEventiParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.prossimiEventiParent {
  width: 1547px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-46xl);
}
.localeInner1 {
  width: 1831px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 62.8px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.immaginiAScorrimentoIcon {
  height: 692px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.immaginiAScorrimentoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 328.8px;
  box-sizing: border-box;
  max-width: 100%;
}
.footerChild,
.rett3 {
  position: relative;
  display: none;
}
.rett3 {
  align-self: stretch;
  height: 31px;
  background-color: var(--color-white);
  flex-shrink: 0;
  z-index: 8;
}
.footerChild {
  width: 1920px;
  height: 484px;
  max-width: 100%;
}
.span3 {
  font-family: var(--font-keania-one);
}
.span4 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles1 {
  font-family: var(--font-gruppo);
}
.nNightblesContainer1 {
  width: 234px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.contatti1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.contattiWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-inter);
}
.footerInner,
.nNightblesParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.nNightblesParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footerInner {
  width: 1020.4px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-2xs-7);
  box-sizing: border-box;
}
.footerInner1,
.rectangleDiv {
  align-self: stretch;
  max-width: 100%;
}
.rectangleDiv {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.footerInner1 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
}
.contactUs {
  width: 156px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.andreanightblescom,
.giuseppenightblescom {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.francesconightblescom {
  margin: 0;
}
.andreanightblescomGiuseppe {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.contactUsParent {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.ourBrands {
  width: 208px;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.ourBrandsWrapper {
  width: 442px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.social {
  width: 116px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.instagramIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.facebookIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseGroup {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  flex-direction: row;
}
.frameParent7,
.frameWrapper6,
.socialParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.socialParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-24xl);
  min-width: 94px;
}
.frameChild22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.linkedinIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseContainer {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tiktokIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent1 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.youtubeIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent2 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5,
.frameParent6 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent6 {
  width: 387px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-base);
}
.frameParent5 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.privacyPolicy {
  width: 156px;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frameParent4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.footer,
.footerInner2,
.frameParent4,
.locale {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerInner2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xl) 0 var(--padding-base-7);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.footer,
.locale {
  flex-direction: column;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-500);
  padding: var(--padding-10xs) var(--padding-10xl-3) var(--padding-112xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-lustria);
}
.locale {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  gap: 37.2px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .frameParent5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .rett2Parent {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .immaginiAScorrimentoWrapper {
    padding-bottom: 214px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .limeMilano {
    font-size: var(--font-size-32xl);
  }
  .laSala1 {
    font-size: var(--font-size-7xl);
  }
  .rectangleParent {
    padding-top: 129px;
    padding-bottom: 122px;
    box-sizing: border-box;
  }
  .infoLocale {
    font-size: var(--font-size-32xl);
  }
  .viaTullioMassarani {
    font-size: var(--font-size-7xl);
  }
  .locationParent {
    gap: var(--gap-lgi);
  }
  .frameDiv {
    gap: var(--gap-2xl);
  }
  .commercialeTrap {
    font-size: var(--font-size-7xl);
  }
  .musicRecordParent {
    gap: var(--gap-xl);
  }
  .frameContainer {
    gap: 35px;
  }
  .div {
    font-size: var(--font-size-7xl);
  }
  .banknotesParent {
    gap: var(--gap-base);
  }
  .frameGroup {
    gap: var(--gap-13xl);
  }
  .localeChild {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .valutazione {
    font-size: var(--font-size-32xl);
  }
  .frameWrapper3 {
    margin-left: 0;
  }
  .bar,
  .musica,
  .servizi {
    font-size: var(--font-size-7xl);
  }
  .musicaParent,
  .starGroup {
    flex: 1;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .infoEPrenotazioni {
    font-size: var(--font-size-19xl);
  }
  .prossimiEventi {
    font-size: var(--font-size-32xl);
  }
  .prossimiEventiParent {
    gap: var(--gap-13xl);
  }
  .localeInner1 {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .immaginiAScorrimentoWrapper {
    padding-bottom: 139px;
    box-sizing: border-box;
  }
  .nNightblesContainer1 {
    font-size: var(--font-size-10xl);
  }
  .contatti1 {
    font-size: var(--font-size-13xl);
  }
  .nNightblesParent {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
  .locale {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .prenotaParent {
    gap: var(--gap-lgi);
  }
  .limeMilano {
    font-size: var(--font-size-19xl);
  }
  .laSala1 {
    font-size: var(--font-size-lgi);
  }
  .infoLocale {
    font-size: var(--font-size-19xl);
  }
  .commercialeTrap,
  .viaTullioMassarani {
    font-size: var(--font-size-lgi);
  }
  .frameContainer {
    gap: var(--gap-mid);
  }
  .div {
    font-size: var(--font-size-lgi);
  }
  .frameGroup {
    gap: var(--gap-base);
  }
  .valutazione {
    font-size: var(--font-size-19xl);
  }
  .bar,
  .musica,
  .servizi {
    font-size: var(--font-size-lgi);
  }
  .infoEPrenotazioni {
    font-size: var(--font-size-10xl);
  }
  .frameSection {
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .prossimiEventi {
    font-size: var(--font-size-19xl);
  }
  .prossimiEventiParent {
    gap: var(--gap-base);
  }
  .nNightblesContainer1 {
    font-size: var(--font-size-3xl);
  }
  .contatti1 {
    font-size: var(--font-size-5xl);
  }
  .frameParent6 {
    flex-wrap: wrap;
  }
}
