.rett2 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 93px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 14px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.span {
  font-family: var(--font-keania-one);
}
.span1 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles {
  font-family: var(--font-gruppo);
}
.nNightblesContainer,
.prenota {
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.nNightblesContainer {
  height: 62px;
  width: 234px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.prenota {
  width: 107px;
  line-height: 16px;
}
.aboutUs,
.contatti,
.prenota {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.aboutUs {
  width: 117px;
  line-height: 18px;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
}
.contatti {
  flex: 1;
}
.frameWrapper,
.prenotaParent {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prenotaParent {
  width: 453px;
  flex-direction: row;
  gap: var(--gap-19xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.frameWrapper {
  width: 554px;
  flex-direction: column;
  padding: var(--padding-28xl) 0 0;
  box-sizing: border-box;
}
.accediChild {
  height: 34px;
  width: 86px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-400);
  display: none;
}
.userIcnIcon {
  height: 17px;
  width: 15px;
  position: relative;
  z-index: 1;
}
.accedi,
.accedi1 {
  display: flex;
  z-index: 1;
}
.accedi1 {
  height: 18px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.accedi {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-6xs);
  background-color: var(--color-gray-400);
  align-self: stretch;
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.accedi:hover {
  background-color: var(--color-darkslategray-100);
}
.accediWrapper,
.rett2Parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.accediWrapper {
  width: 86px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 0;
}
.rett2Parent {
  align-self: stretch;
  height: 127px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-23xl) var(--padding-23xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-lustria);
}
@media screen and (max-width: 1275px) {
  .frameWrapper {
    display: none;
  }
  .rett2Parent {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .prenotaParent {
    gap: var(--gap-lgi);
  }
}
