.rett1 {
  height: 31px;
  width: 1920px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.ilTuoLocale {
  align-self: stretch;
  position: relative;
  line-height: 9px;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
  z-index: 4;
}
.mainContainer {
  width: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
  box-sizing: border-box;
}
.creaAccount,
.frameChild {
  position: relative;
  z-index: 4;
}
.frameChild {
  height: 14.6px;
  width: 1px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.creaAccount {
  height: 6.8px;
  display: inline-block;
  flex-shrink: 0;
  min-width: 88px;
  white-space: nowrap;
}
.creaAccountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  text-align: left;
}
.rett1Parent,
.rett2 {
  background-color: var(--color-white);
}
.rett1Parent {
  align-self: stretch;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xs-6) var(--padding-mid) var(--padding-xs-8);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  max-width: 100%;
  z-index: 3;
}
.rett2 {
  border: 0;
  outline: 0;
  height: 93px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.span {
  font-family: var(--font-keania-one);
}
.span1 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles {
  font-family: var(--font-gruppo);
}
.nNightblesContainer,
.prenota {
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.nNightblesContainer {
  height: 62px;
  width: 234px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.prenota {
  width: 107px;
  line-height: 16px;
}
.aboutUs,
.contatti,
.prenota {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.aboutUs {
  width: 117px;
  line-height: 18px;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
}
.contatti {
  flex: 1;
}
.createAccountButton,
.createAccountButtonWrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.createAccountButton {
  width: 453px;
  flex-direction: row;
  gap: var(--gap-19xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.createAccountButtonWrapper {
  width: 554px;
  flex-direction: column;
  padding: var(--padding-28xl) 0 0;
  box-sizing: border-box;
}
.accediChild {
  height: 34px;
  width: 86px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-400);
  display: none;
}
.accedi1,
.userIcnIcon {
  position: relative;
  z-index: 1;
}
.userIcnIcon {
  height: 17px;
  width: 15px;
}
.accedi1 {
  height: 18px;
  flex: 1;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accedi,
.containerSeparator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accedi {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-6xs);
  background-color: var(--color-gray-400);
  align-self: stretch;
  border-radius: var(--br-11xs);
  flex-direction: row;
  gap: var(--gap-9xs);
  z-index: 1;
}
.accedi:hover {
  background-color: var(--color-darkslategray-100);
}
.containerSeparator {
  width: 86px;
  flex-direction: column;
  padding: var(--padding-12xl) 0 0;
  box-sizing: border-box;
}
.rett2Parent,
.userAccess {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rett2Parent {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-23xl) var(--padding-23xl) var(--padding-21xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lustria);
}
.userAccess {
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.ilTuoLocale1 {
  font-weight: 800;
  white-space: pre-wrap;
}
.limeMilano {
  font-weight: 300;
}
.ilTuoLocaleContainer {
  width: 747px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.mainSeparator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-base) var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image1Icon,
.image2Icon,
.image3Icon,
.image4Icon,
.image5Icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  overflow: hidden;
  object-fit: cover;
}
.image1Icon {
  height: 377.1px;
  max-width: 100%;
  flex-shrink: 0;
}
.image2Icon,
.image3Icon,
.image4Icon,
.image5Icon {
  flex: 1;
  max-width: 213px;
  max-height: 100%;
  min-width: 196px;
  min-height: 92px;
}
.image5Icon {
  max-width: 212px;
}
.image1Parent,
.image2Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xs);
}
.image1Parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.prenotazioni {
  flex: 1;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.prenotazioniWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-39xl);
  box-sizing: border-box;
  max-width: 100%;
}
.data {
  width: 570px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.dataWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.piantinaDiscotecaChild,
.piantinaDiscotecaItem {
  position: absolute;
  top: 222.1px;
  left: 296.1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 155.6px;
  height: 3.8px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.piantinaDiscotecaItem {
  left: 575.6px;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 323.7px;
  left: 28.9px;
  background-color: var(--color-black);
  width: 155.6px;
  height: 7.5px;
  z-index: 1;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.rectangleDiv {
  left: 681.2px;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4 {
  top: 337.5px;
  left: 38.9px;
  width: 135.5px;
}
.frameChild2,
.frameChild3,
.frameChild4 {
  left: 691.3px;
}
.frameChild3,
.frameChild4 {
  top: 351.3px;
  left: 50.2px;
  width: 114.2px;
}
.frameChild4 {
  left: 702.5px;
}
.tableIcon,
.tableIcon1,
.tableIcon2,
.tableIcon3,
.tableIcon4,
.tableIcon5 {
  position: absolute;
  top: 144.4px;
  left: 321.2px;
  width: 93.1px;
  height: 93.1px;
  object-fit: contain;
  z-index: 1;
}
.tableIcon1,
.tableIcon2,
.tableIcon3,
.tableIcon4,
.tableIcon5 {
  left: 45.6px;
}
.tableIcon2,
.tableIcon3,
.tableIcon4,
.tableIcon5 {
  left: 596.8px;
}
.tableIcon3,
.tableIcon4,
.tableIcon5 {
  top: 18.7px;
  left: 459px;
}
.tableIcon4,
.tableIcon5 {
  left: 183.4px;
}
.tableIcon5 {
  left: 734.6px;
}
.tableIcon10,
.tableIcon11,
.tableIcon6,
.tableIcon7,
.tableIcon8,
.tableIcon9 {
  position: absolute;
  top: 144.4px;
  left: 459px;
  width: 93.1px;
  height: 93.1px;
  object-fit: contain;
  z-index: 1;
}
.tableIcon10,
.tableIcon11,
.tableIcon7,
.tableIcon8,
.tableIcon9 {
  left: 183.4px;
}
.tableIcon10,
.tableIcon11,
.tableIcon8,
.tableIcon9 {
  left: 734.6px;
}
.tableIcon10,
.tableIcon11,
.tableIcon9 {
  top: 18.7px;
  left: 321.2px;
}
.tableIcon10,
.tableIcon11 {
  left: 45.6px;
}
.tableIcon11 {
  top: 18.6px;
  left: 598px;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.piantinaDiscoteca {
  align-self: stretch;
  height: 397.6px;
  position: relative;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16.4px;
  font-size: var(--font-size-45xl);
}
.frameContainer,
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 4.6px 0 var(--padding-8xs);
  box-sizing: border-box;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 143px;
  min-width: 567px;
  max-width: 100%;
}
.bloccoDescrizioneLocaleChild {
  width: 854px;
  height: 1324px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-500);
  display: none;
  max-width: 100%;
}
.descrizione {
  flex: 1;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.descrizioneWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.laSala1 {
  align-self: stretch;
  height: 1153px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.bloccoDescrizioneLocale {
  width: 854px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-xl) var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-23xl);
  min-width: 854px;
  max-width: 100%;
  color: var(--color-white);
}
.childrenContainer,
.childrenContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.childrenContainer {
  flex: 1;
  justify-content: center;
  gap: 41.3px;
}
.childrenContainerWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-56xl) var(--padding-mid) var(--padding-58xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.tavolo {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.tavoloWrapper {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.equipe10Persone {
  margin: 0;
}
.equipe10PersoneContainer {
  flex: 1;
  position: relative;
  font-size: var(--font-size-26xl);
  font-weight: 300;
  display: inline-block;
  min-width: 314px;
  max-width: 100%;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.vokdaAllaFrutta {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.frameParent1,
.vokdaAllaFruttaWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vokdaAllaFruttaWrapper {
  width: 398px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
}
.frameParent1 {
  width: 863px;
  flex-direction: column;
  gap: var(--gap-10xl);
  min-width: 863px;
}
.germanaPellini,
.germanapellini99gmailcom {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.germanapellini99gmailcom {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  height: 29px;
  color: var(--color-black);
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
  min-width: 250px;
  white-space: nowrap;
  padding: 0;
}
.lineDiv {
  width: 437px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.germanapellini99gmailcomParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.div {
  width: 305px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.containerWithButtons,
.germanaPelliniParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.germanaPelliniParent {
  width: 634px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 634px;
  text-align: right;
  font-size: var(--font-size-26xl);
}
.containerWithButtons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-29xl);
}
.vokdaAllaFrutta1 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vokdaAllaFruttaContainer {
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.vokdaAllaFrutta2 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vokdaAllaFruttaFrame {
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ellipseDiv {
  height: 68px;
  width: 68px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #24ff00;
}
.statoPrenotazioneConfermata {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.statoPrenotazioneConfermataWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 451px;
  max-width: 100%;
}
.ellipseParent {
  width: 777px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-13xl);
}
.containerWithButtonsParent,
.ellipseParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.containerWithButtonsParent {
  width: 1609px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameDiv {
  width: 1801px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.separazioneIcon {
  height: 9px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.separazioneWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
}
.tavolo1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.tavoloContainer {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.equipe10Persone1 {
  margin: 0;
}
.equipe10PersoneContainer1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-26xl);
  font-weight: 300;
  display: inline-block;
  min-width: 314px;
  max-width: 100%;
}
.frameParent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.vokdaAllaFrutta3 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.frameParent6,
.vokdaAllaFruttaWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vokdaAllaFruttaWrapper1 {
  width: 398px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
}
.frameParent6 {
  width: 863px;
  flex-direction: column;
  gap: var(--gap-10xl);
  min-width: 863px;
}
.germanaPellini1,
.germanapellini99gmailcom1 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.germanapellini99gmailcom1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  height: 29px;
  color: var(--color-black);
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
  min-width: 250px;
  white-space: nowrap;
  padding: 0;
}
.frameChild5 {
  width: 437px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.germanapellini99gmailcomGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.div1 {
  width: 305px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
}
.frameParent8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.frameParent5,
.germanaPelliniGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.germanaPelliniGroup {
  width: 634px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 634px;
  text-align: right;
  font-size: var(--font-size-26xl);
}
.frameParent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-29xl);
}
.vokdaAllaFrutta4 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vokdaAllaFruttaWrapper2 {
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.vokdaAllaFrutta5 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vokdaAllaFruttaWrapper3 {
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild6 {
  height: 68px;
  width: 68px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #fff500;
}
.statoPrenotazioneDa {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.statoPrenotazioneDaConfermWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 451px;
  max-width: 100%;
}
.ellipseGroup {
  width: 777px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-13xl);
}
.ellipseGroup,
.frameParent4,
.frameSection,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent4 {
  width: 1609px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameSection,
.frameWrapper1 {
  box-sizing: border-box;
}
.frameWrapper1 {
  width: 1801px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frameSection {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 259px;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footerChild,
.rett3 {
  position: relative;
  display: none;
}
.rett3 {
  align-self: stretch;
  height: 31px;
  background-color: var(--color-white);
  flex-shrink: 0;
}
.footerChild {
  width: 1920px;
  height: 484px;
  max-width: 100%;
}
.span2 {
  font-family: var(--font-keania-one);
}
.span3 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles1 {
  font-family: var(--font-gruppo);
}
.nNightblesContainer1 {
  width: 234px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.contatti1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.contattiWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-inter);
}
.footerInner,
.nNightblesParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.nNightblesParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footerInner {
  width: 1020.4px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-2xs-7);
  box-sizing: border-box;
}
.footerInner1,
.frameChild7 {
  align-self: stretch;
  max-width: 100%;
}
.frameChild7 {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.footerInner1 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
}
.contactUs {
  width: 156px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.andreanightblescom,
.giuseppenightblescom {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.francesconightblescom {
  margin: 0;
}
.andreanightblescomGiuseppe {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.contactUsParent {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.ourBrands {
  width: 208px;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.ourBrandsWrapper {
  width: 442px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.social {
  width: 116px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frameChild8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.instagramIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseContainer {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.facebookIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent1 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  flex-direction: row;
}
.frameParent12,
.frameWrapper2,
.socialParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent12 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.socialParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-24xl);
  min-width: 94px;
}
.frameChild10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.linkedinIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent2 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tiktokIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent3 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.youtubeIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  z-index: 2;
}
.ellipseParent4 {
  height: 64px;
  flex: 1;
  position: relative;
}
.frameWrapper5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent10,
.frameParent11 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent11 {
  width: 387px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-base);
}
.frameParent10 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.privacyPolicy {
  width: 156px;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.frameParent9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.footer,
.footerInner2,
.frameParent9,
.gestore {
  display: flex;
  justify-content: flex-start;
}
.footerInner2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-8xl) 0 var(--padding-base-7);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.footer,
.gestore {
  flex-direction: column;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-500);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-10xl-3) var(--padding-112xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-lustria);
}
.gestore {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  align-items: flex-end;
  gap: 118px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1575px) {
  .bloccoDescrizioneLocale {
    flex: 1;
  }
  .childrenContainer {
    flex-wrap: wrap;
  }
  .frameParent1,
  .germanaPelliniParent {
    flex: 1;
  }
  .containerWithButtons {
    flex-wrap: wrap;
  }
  .frameParent6,
  .germanaPelliniGroup {
    flex: 1;
  }
  .frameParent10,
  .frameParent5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .prenotazioniWrapper,
  .rett2Parent {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .prenotazioniWrapper {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
  }
  .frameParent {
    gap: 71px;
  }
  .bloccoDescrizioneLocale {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .childrenContainerWrapper {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .frameParent1,
  .frameParent6 {
    min-width: 100%;
  }
  .frameSection {
    padding-bottom: 168px;
    box-sizing: border-box;
  }
  .gestore {
    gap: 59px;
  }
}
@media screen and (max-width: 825px) {
  .ilTuoLocaleContainer {
    font-size: var(--font-size-19xl);
  }
  .image2Parent {
    flex-wrap: wrap;
  }
  .prenotazioni {
    font-size: var(--font-size-19xl);
  }
  .data {
    font-size: var(--font-size-32xl);
  }
  .frameParent {
    min-width: 100%;
  }
  .descrizione {
    font-size: var(--font-size-19xl);
  }
  .laSala1 {
    font-size: var(--font-size-7xl);
  }
  .bloccoDescrizioneLocale {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .childrenContainer {
    gap: var(--gap-2xl);
  }
  .tavolo {
    font-size: var(--font-size-19xl);
  }
  .equipe10PersoneContainer {
    font-size: var(--font-size-17xl);
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .vokdaAllaFrutta {
    font-size: var(--font-size-10xl);
  }
  .germanaPellini {
    font-size: var(--font-size-17xl);
  }
  .germanaPelliniParent {
    min-width: 100%;
  }
  .vokdaAllaFrutta1,
  .vokdaAllaFrutta2 {
    font-size: var(--font-size-10xl);
  }
  .statoPrenotazioneConfermata {
    font-size: var(--font-size-7xl);
  }
  .statoPrenotazioneConfermataWrapper {
    min-width: 100%;
  }
  .tavolo1 {
    font-size: var(--font-size-19xl);
  }
  .equipe10PersoneContainer1 {
    font-size: var(--font-size-17xl);
  }
  .frameParent7 {
    flex-wrap: wrap;
  }
  .vokdaAllaFrutta3 {
    font-size: var(--font-size-10xl);
  }
  .germanaPellini1 {
    font-size: var(--font-size-17xl);
  }
  .germanaPelliniGroup {
    min-width: 100%;
  }
  .vokdaAllaFrutta4,
  .vokdaAllaFrutta5 {
    font-size: var(--font-size-10xl);
  }
  .statoPrenotazioneDa {
    font-size: var(--font-size-7xl);
  }
  .statoPrenotazioneDaConfermWrapper {
    min-width: 100%;
  }
  .frameSection {
    gap: var(--gap-mid);
    padding-bottom: 109px;
    box-sizing: border-box;
  }
  .nNightblesContainer1 {
    font-size: var(--font-size-10xl);
  }
  .contatti1 {
    font-size: var(--font-size-13xl);
  }
  .nNightblesParent {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
  .gestore {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .createAccountButton {
    gap: var(--gap-lgi);
  }
  .ilTuoLocaleContainer,
  .prenotazioni {
    font-size: var(--font-size-10xl);
  }
  .data {
    font-size: var(--font-size-19xl);
  }
  .frameParent {
    gap: 36px;
  }
  .descrizione {
    font-size: var(--font-size-10xl);
  }
  .laSala1 {
    font-size: var(--font-size-lgi);
  }
  .bloccoDescrizioneLocale {
    gap: var(--gap-2xl);
  }
  .tavolo {
    font-size: var(--font-size-10xl);
  }
  .equipe10PersoneContainer {
    font-size: var(--font-size-8xl);
  }
  .vokdaAllaFrutta {
    font-size: var(--font-size-3xl);
  }
  .germanaPellini {
    font-size: var(--font-size-8xl);
  }
  .div,
  .germanapellini99gmailcom {
    font-size: var(--font-size-xl);
  }
  .vokdaAllaFrutta1,
  .vokdaAllaFrutta2 {
    font-size: var(--font-size-3xl);
  }
  .statoPrenotazioneConfermata {
    font-size: var(--font-size-lgi);
  }
  .tavolo1 {
    font-size: var(--font-size-10xl);
  }
  .equipe10PersoneContainer1 {
    font-size: var(--font-size-8xl);
  }
  .vokdaAllaFrutta3 {
    font-size: var(--font-size-3xl);
  }
  .germanaPellini1 {
    font-size: var(--font-size-8xl);
  }
  .div1,
  .germanapellini99gmailcom1 {
    font-size: var(--font-size-xl);
  }
  .vokdaAllaFrutta4,
  .vokdaAllaFrutta5 {
    font-size: var(--font-size-3xl);
  }
  .statoPrenotazioneDa {
    font-size: var(--font-size-lgi);
  }
  .nNightblesContainer1 {
    font-size: var(--font-size-3xl);
  }
  .contatti1 {
    font-size: var(--font-size-5xl);
  }
  .frameParent11 {
    flex-wrap: wrap;
  }
}
