.span {
  font-family: var(--font-keania-one);
}
.span1 {
  font-family: var(--font-inknut-antiqua);
}
.nightbles {
  font-family: var(--font-gruppo);
}
.nNightblesContainer,
.scegliTuIl {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
.nNightblesContainer {
  width: 234px;
  cursor: pointer;
}
.scegliTuIl {
  width: 740px;
  font-weight: 900;
  flex-shrink: 0;
  max-width: 100%;
}
.scegliTuIlGiornoEProvvedeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-45xl);
  font-family: var(--font-poppins);
}
.nNightblesParent {
  width: 1290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-lustria);
}
.image7Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image7Wrapper {
  height: 621px;
  width: 506px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 506px;
  max-width: 100%;
}
.noteAggiuntive {
  align-self: stretch;
  position: relative;
}
.frameChild {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  height: 289px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.9px var(--padding-10xs-5) var(--padding-6xl);
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.frameParent,
.noteAggiuntiveParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.noteAggiuntiveParent {
  width: 656px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 656px;
}
.frameParent {
  width: 1650px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.registrazioneLocale2,
.registrazioneLocale2Inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.registrazioneLocale2Inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.registrazioneLocale2 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-22xl) var(--padding-21xl) 431px;
  gap: 109px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .image7Icon {
    align-self: stretch;
    width: auto;
  }
  .image7Wrapper,
  .noteAggiuntiveParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .registrazioneLocale2Inner {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .noteAggiuntiveParent {
    min-width: 100%;
  }
  .registrazioneLocale2 {
    gap: 54px;
  }
}
@media screen and (max-width: 800px) {
  .nNightblesContainer {
    font-size: var(--font-size-10xl);
  }
  .scegliTuIl {
    font-size: var(--font-size-32xl);
  }
  .image7Wrapper {
    min-width: 100%;
  }
  .noteAggiuntive {
    font-size: var(--font-size-7xl);
  }
  .registrazioneLocale2 {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .nNightblesContainer {
    font-size: var(--font-size-3xl);
  }
  .scegliTuIl {
    font-size: var(--font-size-19xl);
  }
  .noteAggiuntive {
    font-size: var(--font-size-lgi);
  }
}
