.div,
.limeMilano {
  width: 122px;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.limeMilano {
  width: 834px;
  font-weight: 600;
  flex-shrink: 0;
  max-width: 100%;
}
.limeMilanoWrapper,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.limeMilanoWrapper {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frameChild {
  width: 494px;
  position: relative;
  border-radius: var(--br-mini);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 452px;
  max-width: 100%;
}
.lista,
.listaconDrink {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.lista {
  height: 87px;
  width: 185px;
  font-weight: 600;
}
.listaconDrink {
  align-self: stretch;
  height: 50.9px;
  font-weight: 300;
}
.frameWrapper1,
.listaParent,
.listaconDrinkWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listaconDrinkWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-7) 0 0;
  box-sizing: border-box;
  min-width: 243px;
  margin-left: -27px;
  font-size: var(--font-size-26xl);
}
.frameWrapper1,
.listaParent {
  flex-direction: row;
}
.listaParent {
  flex: 1;
  row-gap: 20px;
}
.frameWrapper1 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.listaconDrink1,
.listaconDrink2,
.listaconDrink3 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.listaconDrinkGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.listaconDrinkParent {
  width: 374px;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-17xl);
}
.frameDiv,
.frameParent1,
.listaconDrinkParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frameDiv {
  width: 534px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  margin-left: -39px;
}
.bottonePrenotaChild {
  height: 131px;
  width: 506.6px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.modificaPrenotazione {
  height: 66.1px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bottonePrenota {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-dimgray);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-13xl-5) var(--padding-lg-5) var(--padding-13xl-4)
    var(--padding-lgi-7);
  box-sizing: border-box;
}
.bottonePrenota,
.bottonePrenotaWrapper,
.frameGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.bottonePrenotaWrapper {
  width: 506.6px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-45xl);
  box-sizing: border-box;
  min-height: 195px;
  margin-left: -39px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}
.frameGroup {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 20px;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
}
.frameContainer,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.frameWrapper {
  width: 1761.6px;
  flex-direction: row;
  padding: 0 var(--padding-27xl) var(--padding-70xl-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1275px) {
  .frameWrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .limeMilano {
    font-size: var(--font-size-19xl);
  }
  .rectangleWrapper {
    min-width: 100%;
  }
  .lista {
    font-size: var(--font-size-19xl);
  }
  .listaconDrink {
    font-size: var(--font-size-17xl);
  }
  .listaParent {
    flex-wrap: wrap;
  }
  .listaconDrink1,
  .listaconDrink2,
  .listaconDrink3 {
    font-size: var(--font-size-10xl);
  }
  .modificaPrenotazione {
    font-size: var(--font-size-13xl);
  }
  .frameParent {
    gap: var(--gap-base);
  }
  .frameWrapper {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div {
    font-size: var(--font-size-base);
  }
  .limeMilano,
  .lista {
    font-size: var(--font-size-10xl);
  }
  .listaconDrink {
    font-size: var(--font-size-8xl);
  }
  .listaconDrinkWrapper {
    margin-left: 0;
  }
  .listaconDrink1,
  .listaconDrink2,
  .listaconDrink3 {
    font-size: var(--font-size-3xl);
  }
  .modificaPrenotazione {
    font-size: var(--font-size-5xl);
  }
}
