.box {
    height: 265px;
    width: 642px;
}

.box .CARD {
    height: 265px;
    left: 0;
    position: fixed;
    top: 0;
    width: 648px;
}

.box .overlap-group {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 4px 6px 14.5px 2px #00000040;
    height: 265px;
    position: relative;
    width: 642px;
}

.box .unsplash {
    height: 250px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 302px;
}

.box .nome-locale {
    font-family: "Roboto-Regular", Helvetica;
    height: 29px;
    left: 343px;
    position: absolute;
    top: 15px;
    width: 272px;
}

.box .text-wrapper {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 343px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53px;
    width: 272px;
}

.box .div {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    left: 589px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 239px;
    width: 26px;
}
